<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
<div class='navbar'>
    <a  href='index.html'>Главная</a>
    <a>Мое веб-приложение на flask</a>
    <a href="https://skillfactory.ru/">Контакты </a>
</div>

<div class="main_div">
    <div class="center_text_img">
    <h1 id="name_main">Yuriy Demoshenko</h1> <br>
    <h2 id="name_description">Professional Full Stack JavaScript Developer</h2>
    </div>
    <img src="../img/main_image.jpg" id="main_image">
</div>

<div class="about_div">
    <h2 class="div_header">About me</h2>
    <div class="paragraph_div">
        <p><em>Lorem Ipsum</em> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
        when an unknown printer took a galley of type and scrambled it to make a type specimen book.<br>
        It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
        It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,<br>
        and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>
</div>
<footer>
    <form>
      <fieldset>
        <legend>Контактная информация</legend>
        <p><label for="name">Имя <em>*</em></label><input type="text" id="name" name =‘name’></p>
        <p><label for="email">E-mail</label><input type="email" id="email" name =‘email’></p>
      </fieldset>
    <p><input name =‘message’ type="submit" value="Отправить"></p>
    </form>
</footer>
</body>
</html>